---
layout: default
---

<section id="blog">
  <div class="container">
    <div class="row">
      <div id="sidebar" class="three columns">
        <div id="search-box">
          <form action="#" method="get">
            <input type="text" id="search-box" name="query">
            <input type="submit" value="search">
          </form>
        </div>
        <div id="recent-posts">
          <h4>Recent Posts</h4>
          <ul>
            {% for blog in site.posts limit:5 %}
            <li>
              <a href="{{site.baseurl}}{{blog.url}}">{{blog.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div id="archives">
          <h4>Archives</h4>
          <div class="month-box">
            <ul>
            {% for blog in site.posts %} {% unless blog.next %}
            <h6>{{ blog.date | date: '%b %Y' }}</h6> {% else %} {% capture year %}{{ blog.date | date: '%Y %b' }}{% endcapture %} {% capture nyear %}{{ blog.next.date | date: '%Y %b' }}{% endcapture %} {% if year != nyear %}
            <h6>{{ blog.date | date: '%b %Y ' }}</h6> {% endif %} {% endunless %}
            <li><a href="{{site.baseurl}}{{blog.url}}">{{ blog.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
          <h4>Test</h4>
          <div class="month-box">
            {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
            {% for yearMonth in postsByYearMonth %}
            <h3>{{ yearMonth.name }}</h3>
            <ul>
              {% for post in yearMonth.items %}
              <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
      <div id="main" class="nine columns">
        <ul id="search-results"></ul>
        <div class="all-blogs">
          {% for blog in site.posts limit:5 %}
          <div class="blog-piece">
            <h2>{{blog.title}}</h2>
            <p>{{blog.content}}</p>
            <p>{{blog.tags}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "author": "{{ post.author | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.2.1/lunr.min.js"></script>
<script src="{{site.baseurl}}/js/search.js"></script>
