---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>Recent Posts</h4>
      <ul>
        {% for blog in site.posts limit:5 %}
        <li>
          <a href="{{site.baseurl}}{{blog.url}}">{{blog.title}}</a>
          <p>{{blog.meta}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-9">
      {% for blog in site.posts limit:5 %}
      <div class="blog-piece">
        <h2>{{blog.title}}</h2>
        <p>{{blog.content}}</p>
        <p>{{blog.tags}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
