<nav>
  <input id="menu-toggle" type="checkbox" onclick="toggleMenu() " />
  <label id="mobile-menu-label" for="menu-toggle">
    <span id="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
    </span>
  </label>

  <ul id="menu">
    <li class="{% if page.url contains 'works' %}active{% endif %}"><a href="{{site.baseurl}}/index.html">Works</a></li>
    <li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="{{site.baseurl}}/blog.html">Blog</a></li>
    <li class="{% if page.url == '/about.html' %}active{% endif %}"><a href="{{site.baseurl}}/about.html">About</a></li>
  </ul>

</nav>
