<section id="nav">
  <div id="main-nav">
    <div class="wrapper">
      <a href="{{site.baseurl}}/index.html"><img id="logo" src="{{site.baseurl}}/img/artylope_logo.svg" title="Artylope" alt="Artylope Logo"></a>
      <nav id="main-menu">
        <ul>
          <li class="{% if page.url contains 'works' %}active{% endif %}"><a href="{{site.baseurl}}/index.html">Works</a></li>
          <li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="{{site.baseurl}}/blog.html">Blog</a></li>
          <li class="{% if page.url == '/about.html' %}active{% endif %}"><a href="{{site.baseurl}}/about.html">About</a></li>
        </ul>
      </nav>
      <div id="menu-icon" class="">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</section>
