#blog{
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 8em;
  margin-bottom: 8em;
  display: grid;
  grid-template-columns: 100%;
  > div {
    padding: 2em;
  }
}


#main-content{
  max-width: 700px;
  #search-results-container{
    margin-bottom: 2em;
    .keywords{
      font-size: 90%;
      color:#666;
    }
  }
  #search-results{
    li{
      list-style-type: none;
      margin-bottom: 2em;
      h3{
        margin-bottom: .5em;
      }
    }
  }
  .blog-post{
    margin-bottom: 4em;
    border-bottom: 1px solid #ccc;

    h1{
      margin-bottom: .2em;
      line-height: 1.1em;
    }
    .post-date{
      margin-top: .2em;
      font-size: 90%;
      color:#666;
    }
    .blog-post-content{
      margin-top: 2em;
      margin-bottom: 2em;

      h1,h2,h3,h4,h5,h6{
        color: $body-color;
      }
      h1{
        font-size: 1.2em;
        margin-top: 1.5em;
        margin-bottom: .5em;
      }
    }
    .tags{
      text-align: right;
      margin-top: 3em;
      font-size: 90%;
      color:#666;
    }
    img {
      width: 100%;
      height: auto;
      margin: 2em auto;
    }
    pre{
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .blog-bottom-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    font-family: $header-font;
    .nav-left{
      text-align: left;
      align-self: flex-start;
    }
    .nav-right{
      text-align: right;
      margin-left: auto;
    }
  }
}

#sidebar {
  display: none; //disappear in screens 720px and below
  text-align: left;
  > div {
      margin-bottom: 2em;
      margin-right: 2em;
    }

  #search{
    margin-bottom: 3em;
    right: 0;
    .submit{
      display: none;
    }
    label{
      position: absolute;
      top: -9999em;
      left: -9999em;
      clip: rect(1px, 1px, 1px, 1px);
    }
    input[type=text], input[type=password], input[type=email], textarea {
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #666;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        resize: vertical;
        font-family: $header-font;
        font-size: 1em;
    }
  }
  h2{
    font-size: 1.5em;
    margin-bottom: .5em;
  }

  .sidebar-links {

    ul {
      li {
        list-style: none;
        /* margin-left: 0;
        text-indent: -2.5em; */
        /* font-size: .8em; */
        text-align: left;
        line-height: 1.6em;

        a {
          color: $body-color;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}



@media (min-width: 720px) {
 #blog{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 0;
      > div {
        padding: 2em;
      }
  }
  #sidebar{
    display: inline;
  }
}
