@import 'variables';
#nav {
  font-family: $header-font;
  #main-nav {
    border-bottom: 1px solid #eee;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    .wrapper {
      width: 100%;
      max-width: 1280px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      > a {
        display: block;
        float: left;
      }
      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        #logo{
          position: relative;
          height: auto;
          width: auto;
          left: 20px;
        }
      }
      #main-menu {
        display: none;
        padding: 20px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: none;
        background-color: #fff;
        position: absolute;
        width: 100%;
        left: 0;
        animation: promo-fade-in 0.8s ease;
        -webkit-animation: promo-fade-in 0.8s ease;
        top: 75px;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &.toggled {
          display: block;
        }
        ul {
          list-style: none;
          float: none;
          li {
            position: relative;
            width: 100%;
            padding: 10px;
            display: block;
            a {
              color: $brand-primary;
              &:hover{
                color: $brand-primary-hover;
              }
            }
            &.active{
              a{
                color: darken($brand-primary, 50%);
              }
            }
          }
        }
      }
      #menu-icon {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        float: right;
        margin-top: 15px;
        margin-right: 20px;
        span {
          display: block;
          background: $brand-primary;
          width: 24px;
          height: 3px;
          margin: 4px;
          border-radius: 3px;
          -webkit-transform-origin: center;
          transform-origin: center;
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
        }
        &.toggled {
          span {
            &:first-child {
              -webkit-transform: translateY(6px) rotate(45deg);
              transform: translateY(6px) rotate(45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:last-child {
              -webkit-transform: translateY(-8px) rotate(-45deg);
              transform: translateY(-8px) rotate(-45deg);
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 48em) {
    #main-nav {
      .wrapper {
        padding: 0 40px;
        a {
        }
        #main-menu {
          display: block;
          padding-top: 6px;
          float: right;
          top: 20px;
          background: none;
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          ul {
            display: block;
            float: right;
            li {
              padding: 0 20px;
              position: relative;
              display: inline;
            }
          }
        }
        #menu-icon {
          display: none;
        }
      }
    }
  }
}
