@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Muli');

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$body-font-family: 'Muli', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: 600;


$nav-background: #FFF;
$link-color: #6ca1e3;
$hover-color: #3A506B;
