---
layout: blog
---

<section id="blog">
  <div id="sidebar">
    <div id="profile">
      <a href="{{site.baseurl}}/blog.html"><img src="{{site.baseurl}}/img/profile.png" /></a>
      <a href="{{site.baseurl}}/blog.html"><h1>Artylope's Blog</h1></a>
    </div>
    <div id="search">
      <form action="#" method="get">
        <label>Search</label>
        <input type="text" id="search-box" name="query" placeholder="Search...">
        <input type="submit" class="submit" value="search">
      </form>
    </div>
    <div id="recent-posts">
      <h2>Recent Posts</h2>
      <div class="sidebar-links">
        <ul>
          {% for post in site.posts limit:5 %}
          <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="tags">
      <h2>Tags</h2>
      <div class="sidebar-links">
          {% for tag in site.tags %}
          <span><a href="{{site.baseurl}}/blog/tag/{{ tag[0] }}/">{{ tag[0] }},</a></span>
          {% endfor %}
      </div>
    </div>
    <div id="archives">
      <h2>Archives</h2>
      <div class="sidebar-links">
        <ul>
        {% for blog in site.posts %} {% unless blog.next %}
        <li>
          <a href="{{site.baseurl}}/blog/{{ blog.date | date: '%Y' }}/{{ blog.date | date: '%m' }}">{{ blog.date | date: '%B %Y' }}</a>
        </li>
        {% else %}
          {% capture year %}{{ blog.date | date: '%Y %b' }}{% endcapture %} {% capture nyear %}{{ blog.next.date | date: '%Y %b' }}{% endcapture %}
          {% if year != nyear %}
        <li>
          <a href="{{site.baseurl}}/blog/{{ blog.date | date: '%Y' }}/{{ blog.date | date: '%m' }}">{{ blog.date | date: '%b %Y' }}</a>
        </li>
        {% endif %}
        {% endunless %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div id="main-content">
    <div id="all-posts">
      <div class="blog-post">
        <h1>{{page.title}}</h1>
        <div class="post-date">Published on {{ page.date | date: '%d %B %Y' }} by {{page.author}}</div>
        <div class="blog-post-content">
          <p>{{page.content}}</p>
          <div class="tags">in {{page.tags}}</div>
        </div>
      </div>
    </div>
    <div id="blog-bottom-nav">
      {% if page.previous.url %}
      <div class="nav-left"><a href="{{page.previous.url}}">← {{page.previous.title}}</a></div>
      {% endif %}
      {% if page.next.url %}
      <div class="nav-right"><a href="{{page.next.url}}">{{page.next.title}} →</a></div>
        {% endif %}
    </div>
  </div>
  </div>
</section>
