---
layout: works
---

<section id="single-work">
    <div class="container">
      <div class="work-meta">
        <h1>{{page.title}}</h1>
        <div class="work-owner">
          {{page.owner}}
        </div>
        <div class="work-meta-row">
          <div class="work-meta-label">
            Platform
          </div>
          <div class="work-meta-value">
            {{page.platform}}
          </div>
        </div>
        <div class="work-meta-row">
          <div class="work-meta-label">
            Year
          </div>
          <div class="work-meta-value">
            {{page.year}}
          </div>
        </div>
        <div class="work-meta-row">
          <div class="work-meta-label">
            Role
          </div>
          <div class="work-meta-value">
            {{page.role}}
          </div>
        </div>
      </div>
      <img id="hero" src="{{page.hero}}"/>
        <div class="content">
          {{page.content}}
        </div>
      </div>
  </section>
  <section id="works-nav">
    <div class="container">
      {% if page.collection %}
          {% assign links = site[page.collection]  %}
      {% endif %}

      {% for link in links %}
        {% if link.title == page.title %}
          {% unless forloop.first %}
            {% assign prev = tmpprev %}
          {% endunless %}
          {% unless forloop.last %}
            {% assign next = links[forloop.index] %}
          {% endunless %}
        {% endif %}
        {% assign tmpprev = link %}
      {% endfor %}

      <div class="prev-work">
        {% if prev %}
        <a href="{{ prev.url}}">← {{ prev.title }}</a>
        {% endif %}
      </div>
      <div class="all-works">
        <a href="{{site.baseurl}}/index.html">All Works</a>
      </div>
      <div class="next-work">
        {% if next %}
          <a href="{{ next.url}}">{{ next.title }} →</a>
        {% endif %}
      </div>
    </div>
  </section>
