---
layout: works
---

<section id="single-work">
    <div class="container">
      <div class="work-meta">
        <h1>{{page.title}}</h1>
        <div class="work-owner">
          {{page.owner}}
        </div>
        <div class="work-meta-row">
          <div class="work-meta-label">
            Platform
          </div>
          <div class="work-meta-value">
            {{page.platform}}
          </div>
        </div>
        <div class="work-meta-row">
          <div class="work-meta-label">
            Year
          </div>
          <div class="work-meta-value">
            {{page.year}}
          </div>
        </div>
        <div class="work-meta-row">
          <div class="work-meta-label">
            Role
          </div>
          <div class="work-meta-value">
            {{page.role}}
          </div>
        </div>
      </div>
      <img id="hero" src="{{page.hero}}"/>
        <div class="content">
          {{page.content}}
        </div>
      </div>
  </section>
  <section id="works-nav">
    <div class="container">
      <div class="prev-work">
        <a>← Project Name</a>
      </div>
      <div class="all-works">
        <a>All Works</a>
      </div>
      <div class="next-work">
          <a>Project Name →</a>
      </div>
    </div>
  </section>

  {% capture the_collection %}{{page.collection}}{% endcapture %} {% if page.collection %} {% assign document = site[the_collection] %} {% endif %}
  <h1>TITLE: {{ page.title }}</h1> {% for links in document %} {% if links.title == page.title %} {% unless forloop.first %} {% assign prevurl = prev.url %} {% endunless %} {% unless forloop.last %} {% assign next = document[forloop.index] %} {% assign nexturl = next.url %} {%
  endunless %} {% endif %} {% assign prev = links %} {% endfor %}

  <script>
    document.body.onkeyup = function(e) {
      if (e.keyCode == '37') {
        window.location = '{{prevurl}}';
      }
      if (e.keyCode == '39') {
        window.location = '{{nexturl}}';
      }
    };
  </script>

  {% if prevurl %}<a href="{{prevurl}}" class="prev">PREV {{prevurl}}</a>{% endif %}<br /> {% if nexturl %}<a href="{{nexturl}}" class="nxt">Next {{nexturl}}</a>{% endif %}
